Options +FollowSymlinks

# URL Rewriting directives
RewriteEngine on
RewriteBase /
RewriteRule ^([A-Za-z0-9-\/]+)$ /Framework/index.php?data=$1 [L,NC]

# Error Pages
ErrorDocument 401 /Framework/error/401
ErrorDocument 403 /Framework/error/403
ErrorDocument 404 /Framework/error/404
ErrorDocument 500 /Framework/error/500

# Expires directives for cache control
ExpiresActive On
ExpiresByType text/css A7776000
ExpiresByType text/javascript A7776000
ExpiresByType application/javascript A7776000
ExpiresByType image/png A7776000
ExpiresByType image/jpeg A7776000
ExpiresByType image/gif A7776000

# Compression directives
<IfModule mod_headers.c>
  <FilesMatch "\.(js|css|xml|gz)$">
    Header append Vary Accept-Encoding
  </FilesMatch>
</IfModule>